subsystem/src/test/resources/schema/flyway-subsystem_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:wildfly:flyway:1.0"
           xmlns="urn:wildfly:flyway:1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

    <!-- The subsystem root element -->
    <xs:element name="subsystem" type="subsystemType"/>

    <xs:complexType name="subsystemType">
        <xs:attribute name="enabled" type="xs:boolean" use="optional" default="true">
            <xs:annotation>
                <xs:documentation>
                    Whether the Flyway subsystem is enabled.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>